<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Grapha</title>
    <style type="text/css">
        textarea {
            resize: none;
            width:100px;
            height:200px;
        }
    </style>
</head>
<body>
<form th:action="@{/confirm}" method="GET" th:object="${form}">
    <p>
        <label for="vertices">頂点数(1-100)：</label>
        <input id="vertices" name="vertices" type="number" size="40" th:min="1" th:max="100" th:value="${vertices} ? ${vertices} : 1"/>
    </p>
    <p>
        <label for="percentage">確率(0-100)：</label>
        <input id="percentage" name="percentage" type="number" size="40" th:min="0" th:max="100" th:value="${percentage} ? ${percentage} : 0"/>
    </p>
    <p>
        <input type="checkbox" id="hasLabel" name="hasLabel" value="checked" th:text="頂点にランダムラベルを付与"/>
    </p>
    <p>
        <input type="submit" value="送信" />
    </p>
</form>

<p>
    <label>頂点数：</label>
    <label th:text="${vertices}">頂点数</label>
</p>
<p>
    <label>確率：</label>
    <label th:text="${percentage}">確率</label>%
</p>
<p>
    <label>データセット</label><br>
    <textarea readonly="true" th:text="${dataset}"></textarea>
</p>
</body>
</html>